page-create-property {
     
        .content{
            background-color:rgb(201, 107, 158);
           
            .label{
                background-color: rgb(253, 251, 247);
                color: purple;
                font-weight: bold
            }
            .button{
                padding: 5px
            }
        }
            
        
        
        }
        