page-home {
    .content{
        background-color: rgba(225, 226, 226, 0.555)
        }
    .item{
        background-color: rgba(225, 226, 226, 0.11)
    }
    .icon{
        color: black
    }
    }
    